.main-header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem 2rem; 
  background-color: #f8f9fa; 
  border-bottom: 1px solid #dee2e6; 
}


.main-header h1 {
  margin: 0;
  font-size: 1.7rem;
  color: #333;
}

.main-header div {
  display: flex; 
  align-items: center; 
  gap: 1rem; 
}

.logout-btn {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #dc3545; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-btn:hover {
  background-color: #c82333;
}

.ordersHistory-btn {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #28a745; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.ordersHistory-btn:hover {
  background-color: #218838;
}