# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
*.snupkg
packages/

# Rider
.idea/

# Visual Studio Code
.vscode/

# LocalDB / SQLite
*.mdf
*.ldf

# User secrets
secrets.json
